@charset "utf-8";
.van-checkbox__icon--checked .van-icon{
color: #fff;
  border-color: #ef0600;
  background-color: #ef0600;
}
.van-field__label{
    max-width: 1.75rem;
}
.swiper-pagination-bullet {
 width: 0.098rem !important;
 height: 0.098rem !important;
 margin: 0 0.1rem;
 }
  
 .swiper-pagination-bullet-active {
 background: #ef0600;
 }
#concat-tuijian-div {
  font-size: 0;
  width: 100%;
 }
 #concat-tuijian-div table{
   font-size: 0.3rem;
 }
 #concat-tuijian-div div{
  font-size: 0.3rem;
}
#concat-tuijian-div img {
    width:100% !important;
}